<h3><pre><em>Ім'я тесту:                   </em><span class="testName"><%= name %></span><a href='javascript://' class='destroy'>  X</a></pre></h3>
<h3><pre><em>Категорія тесту:              </em><span class="testCategory"><%= category %></span></pre></h3>
<h3><pre><em>Підкатегорія тесту:           </em><span class="testSubcategory"><%= subcategory %></span></pre></h3>
<h3><pre><em>Опис питання:                 </em><span class="testSubcategory"><%= quest[0].description %></span></pre></h3>
<h3><pre><em>Номер правильної відповіді:   </em><span class="testSubcategory"><%= quest[0].numberCorrectAnswer %></span></pre></h3>